{% load static %}
{% load tags %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
	<link rel="stylesheet" href="{% static 'styles/app.css' %}" type="text/css" />
	<title>
		{% block title %}{% endblock %} 
	</title>
</head>
<body>
	<nav class="navbar navbar-dark navbar-expand-md fixed-top">
		<a class="navbar-brand" href="/">Quora Clone</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbar1">
		  <ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="{% url 'quora:ques_list' %}"><i class="fas fa-home"></i> Home</a>
			</li>
			{% if request.user.is_authenticated %}
				<li class="nav-item"><a class="nav-link" href="{% url 'quora:ask_question' %}"><i class="fas fa-edit"></i> New Question</a></li>
				<li class="nav-item"><a class="nav-link" href="{% url 'quora:show_fav_ques' %}"><i class="fas fa-star"></i> Favourites</a></li>
			{% endif %}
		  </ul>
		  {% if request.user.is_authenticated %}
				<ul class="nav navbar-nav navbar-right">
					<li class="nav-item">
						<a class="nav-link" href="{% url 'quora:profilepage' username=user.username %}">
							{% if request.user.profile.photo %}
								<img src="{{ request.user.profile.photo.url }}" width="23" height="23" class="d-inline-block align-top" alt="profilePic">
							{% else %}
								<img src="/media/default.png" width="23" height="23" class="d-inline-block align-top" alt="profilePic">
							{% endif %}
							{{ request.user }}
						</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="{% url 'quora:user_logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
				</ul>
				{% else %}
					<ul class="nav navbar-nav navbar-right">
						<li class="nav-item"><a class="nav-link" href="{% url 'quora:user_login' %}"><i class="fas fa-sign-in-alt"></i> Login</a></li>
						<li class="nav-item"><a class="nav-link" href="{% url 'quora:register' %}"><i class="fas fa-user-plus"></i> Register</a></li>
					</ul>
				{% endif %}
		</div>
	</nav>
	<div class="jumbotron jumbotron-fluid">
		<div class="container container-fluid">
			{% block content %}
			{% endblock %}
		</div>
	</div>
	<footer class="footer">
		<p>No CopyRight infringement intended!</p>
	</footer>
	<script type="module" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule="" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.js"></script>
	<script src="{% static 'scripts/app.js' %}"></script> 
</body>
</html>