{% extends 'quora/base.html' %}
{% load crispy_forms_tags %}
{% load tags %}
{% load tags%}
{% block content %}

<!-- {% block title %}{{q.title}}|{{block.super}}{% endblock %} -->
<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
	Launch demo modal
</button> -->
  
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
	<div class="modal-content">
	<div class="modal-header">
		<h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		...
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		<button type="button" class="btn btn-primary">Save changes</button>
	</div>
	</div>
</div>
</div>
<div>
	<h2 class="display-6">Detail of the Question</h2>
	<hr class="my-4">
	<div>
		<h2><p>Title: {{q.title}}</p></h2>
		<p><strong>Author: </strong><a href="{% url 'quora:profilepage' q.author %}">{{q.author}}</a>
		<span class="float-right">
			<span class="badge badge-secondary">Created: {{q.created}}</span>
			<span class="badge badge-secondary">Updated: {{q.updated}}</span>
			<span style="text-transform: capitalize;" class="badge badge-secondary">{{q.status}}</span></p>
		</span>
		<h4>Description:</h4><h6>{{q.body}}</h6>
	</div>
	<hr class="my-4">
	<div class="reaction">
		<form action="{% url 'quora:ques_likes' %}" method="POST">
			{% csrf_token %}
			{% if is_liked %}
				<button class="btn btn-danger" type="submit" name="q_id" value="{{ q.id }}"><i class="fas fa-thumbs-up"></i> Dislike <span class="badge badge-light">{{ likes_count }}</span></button>
			{% else %}
				<button class="btn btn-outline-danger" type="submit" name="q_id" value="{{ q.id }}"><i class="fa fa-thumbs-up"></i> Like <span class="badge badge-light">{{ likes_count }}</span></button>
			{% endif %}
		</form>
		<form action="{% url 'quora:ques_fav' %}" method="POST">
			{% csrf_token %}
			{% if is_favourite %}
				<button class="btn btn-warning" type="submit" name="q_id" value="{{ q.id }}"><i class="fas fa-star"></i> Remove from Favourites</button>
			{% else %}
				<button class="btn btn-outline-warning" type="submit" name="q_id" value="{{ q.id }}"><i class="fa fa-star"></i> Add to Favourites</button>
			{% endif %}
		</form>
	</div>

	<div class="reaction2">
		{% if request.user == q.author %}
			<a class="btn btn-outline-warning mb-2" href="{% url 'quora:update_ques' q.id %}"><i class="fas fa-edit"></i> Edit</a>
			<!-- <br> -->
			<a class="btn btn-outline-danger mb-2" href="{% url 'quora:delete_ques' q.id %}"><i class="fas fa-trash"></i> Delete</a>
		{% endif %}
	</div>
</div>
<hr class="my-4">
	{% if not q.restrict_comments %}
		<h4>Add your comment below:</h4>
		<form method="POST">
			{% csrf_token %}
			{{ comment_form|crispy }}
			<button type="submit" name="comment_id" value="{{comment.id}}">Comment</button>
		</form>
		<br><br>
		<h4>{{ comments.count}} Comments</h4>
		<div>
			{% for comment in comments %}
				<p>{{ comment.content }}</p>
				<pre>by-{{comment.user}}        -- {{comment.timestamp}}</pre>
					
					{% if request.user == comment.user %}
						<form action="{% url 'quora:delete_comment' q.id %}" method="POST">
							{% csrf_token %}
							<button type="submit" name="comment_id" value="{{comment.id}}">Delete</button>
						</form>
					{% endif %}

				<br>
				<div style="padding-left: 80px">
						
					<h4>Reply below :</h4>

					<form method="POST" action="{% url 'quora:comment_reply' q.id %}">
						{% csrf_token %}
						<input type="text" name="text" value="">
						<button type="submit" name="comment_id" value="{{comment.id}}">Reply</button>
					</form>

					<br><br>
					<h4>{{ replies|count_reply:comment}} Replies</h4>
					<div>
						{% for reply in replies|in_category:comment %}
							<p>{{ reply.content }}</p>
							<pre>by-{{reply.user}}        -- {{reply.timestamp}}</pre>
							<br>
						{% if request.user == reply.user %}
							<form action="{% url 'quora:delete_reply' q.id %}" method="POST">
							{% csrf_token %}
								<button type="submit" name="reply_id" value="{{reply.id}}">Delete</button>
							</form>
						{% endif %}
						{% endfor %}
					</div>

				</div>

				<br><br>
			{% endfor %} 
		</div>
	{% else %}
	<h6> Comments on this post is restricted </h6>
	{% endif %}

{% endblock %}