{% extends 'quora/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load tags %}
{% load tags%}
{% block content %}

<!-- {% block title %}{{q.title}}|{{block.super}}{% endblock %} -->
<!-- Button trigger modal -->
  
<!-- Modal -->
<div>
	<h2 class="display-6">Question Details</h2>
	<hr class="my-4">
	<div>
		<h2><p>Title: {{q.title}}</p></h2>
		<p><strong>Author: </strong><a href="{% url 'quora:profilepage' q.author %}">{{q.author}}</a>
		<span class="float-right">
			<span class="badge badge-secondary">Created: {{q.created}}</span>
			<span class="badge badge-secondary">Updated: {{q.updated}}</span>
			<span style="text-transform: capitalize;" class="badge badge-secondary">{{q.status}}</span>
		</span></p>
		<h4>Description:</h4><h6>{{q.body}}</h6>
	</div>
	<hr class="my-4">
	<div class="reaction">
		<form action="{% url 'quora:ques_likes' %}" method="POST">
			{% csrf_token %}
			{% if is_liked %}
				<button class="btn btn-danger" type="submit" name="q_id" value="{{ q.id }}"><i class="fas fa-thumbs-up"></i> Dislike <span class="badge badge-light">{{ likes_count }}</span></button>
			{% else %}
				<button class="btn btn-outline-danger" type="submit" name="q_id" value="{{ q.id }}"><i class="fa fa-thumbs-up"></i> Like <span class="badge badge-light">{{ likes_count }}</span></button>
			{% endif %}
		</form>
		<form action="{% url 'quora:ques_fav' %}" method="POST">
			{% csrf_token %}
			{% if is_favourite %}
				<button class="btn btn-warning" type="submit" name="q_id" value="{{ q.id }}"><i class="fas fa-star"></i> Remove from Favourites</button>
			{% else %}
				<button class="btn btn-outline-warning" type="submit" name="q_id" value="{{ q.id }}"><i class="fa fa-star"></i> Add to Favourites</button>
			{% endif %}
		</form>
	</div>

	<div class="reaction2">
		{% if request.user == q.author %}
			<a class="btn btn-outline-warning mb-2" href="{% url 'quora:update_ques' q.id %}"><i class="fas fa-edit"></i> Edit</a>
			<!-- <br> -->
			<button type="button" class="btn btn btn-outline-danger mb-2" data-toggle="modal" data-target="#exampleModalCenter">
				<i class="fas fa-trash"></i> Delete
			</button>
			<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLongTitle">Delete Question?</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						Are you sure you want to delete this Question?
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary mb-2" data-dismiss="modal">Close</button>
						<form method="POST" action="{% url 'quora:delete_ques' q.id %}">
							{% csrf_token %}
							<input class="btn btn-danger mb-2" type="submit" name="submit" value="Delete">
						</form>
					</div>
					</div>
				</div>
			</div>
			<!-- <a class="btn btn-outline-danger mb-2" href="{% url 'quora:delete_ques' q.id %}"><i class="fas fa-trash"></i> Delete</a> -->
		{% endif %}
	</div>
</div>
<hr class="my-4">
	{% if not q.restrict_comments %}
		<h4>{{ comments.count}} Comments</h4>
		<hr class="my-4">
			{% for comment in comments %}
			<div class="media">
				<img style="background-color: inherit;" class="mr-3" height="30" width="30" src="{% static 'comments.png' %}" alt="Generic placeholder image">
				<div class="media-body">
					<h5 class="mt-0">
						<p><strong>@</strong><a href="{% url 'quora:profilepage' comment.user %}">{{comment.user}}</a>
							<span class="float-right">{{comment.timestamp}}</span>
						</p>
					</h5>
					<p>
						{{ comment.content }}
						{% if request.user == comment.user %}
							<form action="{% url 'quora:delete_comment' q.id %}" method="POST">
								{% csrf_token %}
								<button class="btn btn-outline-danger btn-sm" type="submit" name="comment_id" value="{{comment.id}}"><i class="fas fa-trash"></i> Delete</button>
							</form>
						{% endif %}
					</p>
					<br>
					<h4>{{ replies|count_reply:comment}} Replies</h4>
					{% for reply in replies|in_category:comment %}
						<div class="media mt-3">
							<p class="pr-3" href="#">
								<img style="background-color: inherit;" src="{% static 'comments.png' %}" height="30" width="30" alt="Generic placeholder image">
							</p>
							
							<div class="media-body">
								<h5 class="mt-0">
									<p><strong>@</strong><a href="{% url 'quora:profilepage' reply.user %}">{{reply.user}}</a>
										<span class="float-right">{{comment.timestamp}}</span>
									</p>
								</h5>
								<p>{{ reply.content }}</p>
								<br>
								{% if request.user == reply.user %}
									<form action="{% url 'quora:delete_reply' q.id %}" method="POST">
									{% csrf_token %}
										<button class="btn btn-outline-danger btn-sm" type="submit" name="reply_id" value="{{reply.id}}"><i class="fas fa-trash"></i> Delete</button>
									</form>
								{% endif %}
							</div>
						</div>
					{% endfor %}
					<br>
					<form class="form-inline" method="POST" action="{% url 'quora:comment_reply' q.id %}">
						{% csrf_token %}
						<div class="form-group mx-sm-3 mb-2">
							<input class="form-control" type="text" placeholder="Reply!" name="text" value="">
						</div>
						<button class="btn btn-outline-primary mb-2" type="submit" name="comment_id" value="{{comment.id}}"><i class="fas fa-comment"></i> Reply</button>
					</form>
					<br>
				</div>
			</div>
			{% endfor %} 
		<h4>Add your comment below:</h4>
		<form method="POST">
			{% csrf_token %}
			{{ comment_form|crispy }}
			<button class="btn btn-outline-primary" type="submit" name="comment_id" value="{{comment.id}}"><i class="fas fa-comment"></i> Comment</button>
		</form>
		<br><br>
	{% else %}
	<div class="alert alert-danger" role="alert">
		<h6><i class="fas fa-comment-slash"></i> Comments on this post are restricted!</h6>
	</div>
	{% endif %}

{% endblock %}