{% extends 'quora/ques_detail.html' %}
{% load crispy_forms_tags %}
{% block commentreply %}
	sparsh
	<h4>Reply below:</h4>
	<form method="POST" action="{% url 'quora:comment_reply' comment.id %}">
		{% csrf_token %}
		{{ reply_form|crispy }}
		<button type="submit" name="comment_id" value="{{comment.id}}"></button>
	</form>

	<br><br>
	<h4>{{ replies.count}} Replies</h4>
	<div>
		{% for reply in replies %}
			<p>{{ reply.content }}</p>
			<pre>by-{{reply.user}}        -- {{reply.timestamp}}</pre>
		{% endfor %}
	</div>

{% endblock %}