{% extends 'quora/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
	<h1 class="display-5">Edit this question</h1>
	<hr class="my-4">
	<form method="POST">
		{% csrf_token %}
		{{ form|crispy}}
		<input type="submit" name="submit" , value='Update'>
	</form>

{% endblock %}


# Quora-clone
Quora like application using django.

## Setup
1. pip install -r requirements.txt
2. cd Qoura-clone
3. python manage.py makemigrations
4. python manage.py migrate
5. python manage.py runserver
6. Access admin panel by creating superuser :->  python manage.py createsuperuser

### SignUp Page :
<p>-- User have to register to ask doubts/questions</p>
<p>-- Email Verificaton Feature.(Not yet implemented)</p>
<img src="/image_readme/register.png">

### Login Page :
<p>-- User can login by entering his/her username and password.</p>
<p>-- Social Authentication Feature</p>
<p>-- Forgot Password Feature </p>
<img src="/image_readme/login.png">

### Profile Page :
<p>-- User's question are also shown.</p>
<img src="/image_readme/profile.png">

### Edit Profile Page :
<p>-- User can edit his profile</p>
<img src="/image_readme/edit_profile.png">

### Front Page:
<p>-- All questions are shown with most recent on top</p>
<img src="/image_readme/front.png">

### Ask Queation Page :
<p>-- User can ask his/her question.</p>
<img src="/image_readme/ask_ques.png">

### Question Detail Page:
<p>-- Full Detail of the question shown</p>
<p>-- Like/Dislike FEature</p>
<p>-- Add to favourites/Remove from favourites Feature.</p>
<p>-- Edit Delete Feature of questions</p>
<p>-- Nested Comment Reply Feature</p>
<img src="/image_readme/detail1.png">
<img src="/image_readme/detail2.png">
<img src="/image_readme/detail3.png">

### Favourite Question Page :
<p>-- User's Favourite Questions are shown</p>
<img src="/image_readme/favourites.png">
