.navbar{
    background-color: #2b0000;
}

#id{
    display: inline-flex;
    vertical-align: middle;
}

.container{
    padding-top: 77px;
}

.reaction{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.reaction form{
    padding-right: 5px;
    padding-bottom: 15px;
}

.btn-outline-warning{
    color: orange;
}
